@using ApiaryDiary.Controllers.Models.Apiaries
@model ApiaryListingViewModel

<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Total Beehives</th>
                <th scope="col" class="text-center">Address</th>
                <th scope="col" class="text-center">Options</th>
            </tr>
        </thead>

        @foreach (var apiary in Model.Apiaries)
        {
            <tbody>
                <tr>
                    <th class="text-center" scope="row">@apiary.Id</th>
                    <td class="text-center">@apiary.Name</td>
                    <td class="text-center">@apiary.TotalBeehives</td>
                    <td class="text-center">@apiary.Address</td>
                    <td class="text-center mx-auto">
                        <a asp-controller="Apiaries" asp-action="Details" asp-route-id="@apiary.Id">
                            <i class="fas fa-clipboard-list "></i>
                        </a>
                        <a asp-controller="Apiaries" asp-action="Edit" asp-route-id="@apiary.Id">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a asp-controller="Apiaries" asp-action="Delete" asp-route-id="@apiary.Id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>