@using ApiaryDiary.Controllers.Models.Apiaries
@model ApiaryListingViewModel

<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Total Beehives</th>
                <th scope="col" class="text-center">Address</th>
                <th scope="col" class="text-center">Options</th>
            </tr>
        </thead>

        @foreach (var apiary in Model.Apiaries)
        {
            <tbody>
                <tr>
                    <th class="text-center" scope="row">@apiary.Id</th>
                    <td class="text-center">@apiary.Name</td>
                    <td class="text-center">@apiary.TotalBeehives</td>
                    <td class="text-center">@apiary.Address</td>
                    <td class="text-center mx-auto">
                        <a asp-controller="Apiaries" asp-action="Details" asp-route-id="@apiary.Id">
                            <input class="btn btn-sm btn-primary m-1"
                                   type="submit" value="Details" />
                        </a>
                        <a asp-controller="Apiaries" asp-action="Edit" asp-route-id="@apiary.Id">
                            <input class="btn btn-sm btn-warning m-1"
                                   type="submit" value="Edit" />
                        </a>

                        <input class="btn btn-sm btn-danger m-1" data-toggle="modal"
                               data-target="#deleteModal" type="submit" value="Delete" />

                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Deleting "@apiary.Name" apiary?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete the following apiary: @apiary.Name?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-controller="Apiaries" asp-action="Delete" asp-route-id="@apiary.Id">
                                            <button class="btn btn-danger">Yes</button>
                                        </a>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>