@using ApiaryDiary.Services.Models
@model BeehiveDetailsServiceModel

<div class="row">
    <div class="col-md-3">
        <partial name="_HomeLeftNavbarPartial" />
    </div>

    <div class="col-md-9">

        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Beehives" asp-action="ViewAll">Beehives</a>
            </li>
            <li class="breadcrumb-item active">Details</li>
        </ul>

        <div class="row m-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/beehive-details.jpg" alt="Beehive">
                <div class="card-body">
                    <h5 class="card-title">Preview</h5>
                    <p class="card-text">In this section you can see more information about your current beehive and more.</p>
                </div>
            </div>

            <div class="container-fluid col-md-6 m-3 text-right">
                <h5 class="card-title">Apiary Details:</h5>
                <p class="card-text"><span class="text-dark">Creation date:</span> @Model.CreatedOn</p>
                <p class="card-text"><span class="text-dark">Apiary:</span> @Model.ApiaryName</p>
                <p class="card-text"><span class="text-dark">Number:</span> @Model.Number</p>
                <p class="card-text"><span class="text-dark">Location:</span> @Model.Location</p>
                <p class="card-text"><span class="text-dark">System Type:</span> @Model.SystemType</p>
                <p class="card-text"><span class="text-dark">Beehive Type:</span> @Model.BeehiveType</p>
                <p class="card-text"><span class="text-dark">Queen Type:</span> @Model.QueenType</p>
                <a asp-controller="Beehives" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
            </div>
        </div>
    </div>
</div>