@using ApiaryDiary.Controllers.Models.Beehives
@model BeehiveListingViewModel

<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="text-center">Createtion Date</th>
                <th scope="col" class="text-center">Beehive Number</th>
                <th scope="col" class="text-center">Apiary Name</th>
                <th scope="col" class="text-center">Location</th>
                <th scope="col" class="text-center">Queen Type</th>
                <th scope="col" class="text-center">System Type</th>
                <th scope="col" class="text-center">Beehive Type</th>
                <th scope="col" class="text-center">Options</th>
            </tr>
        </thead>

        @foreach (var beehive in Model.Beehives)
        {
            <tbody>
                <tr>
                    <td class="text-center">@beehive.CreatedOn</td>
                    <td class="text-center">@beehive.Number</td>
                    <td class="text-center">@beehive.ApiaryName</td>
                    <td class="text-center">@beehive.Location</td>
                    <td class="text-center">@beehive.QueenBeeType</td>
                    <td class="text-center">@beehive.SystemType</td>
                    <td class="text-center">@beehive.BeehiveType</td>
                    <td class="text-center mx-auto">
                        <a asp-controller="Beehives" asp-action="Details" asp-route-id="@beehive.Id">
                            <i class="fas fa-clipboard-list" data-toggle="tooltip" data-placement="top" title="Details"></i>
                        </a>
                        <a asp-controller="Beehives" asp-action="Edit" asp-route-id="@beehive.Id">
                            <i class="fas fa-pencil-alt" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                        </a>
                        <a asp-controller="Beehives" asp-action="Delete" asp-route-id="@beehive.Id">
                            <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
